<ion-header>
  <ion-toolbar color="success" style="display: flex">
    <ion-button style="position: relative; left: 5%" fill="clear">
      <ion-icon color="light" name="arrow-back"></ion-icon>
    </ion-button>

    <ion-title
      style="
        color: white;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: 4px;
        left: 5%;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
      "
    >
      MACHINERIES
    </ion-title>
    <ion-button style="position: relative; left: 5%" fill="clear">
      <ion-icon name="home" color="light"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card button="true" [routerLink]="['/tractors']">
    <table style="text-align: center">
      <tr>
        <td>
          <ion-card-title>Tractors</ion-card-title>
        </td>
        <td style="width: 50%; padding: 2%">
          <img
            alt="Silhouette of mountains"
            style="margin: 5%; height: 160px; width: 100%"
            src="assets/images (4).jpg"
          />
        </td>
      </tr>
    </table>
  </ion-card>

  <ion-card button="true" [routerLink]="['/tillage']">
    <table style="text-align: center">
      <tr>
        <td style="width: 60%; padding: 5%">
          <img
            alt="Silhouette of mountains"
            style="margin: 5%; height: 160px; width: 100%"
            src="assets/mounted-offset-disc-harrow.png"
          />
        </td>
        <td><ion-card-title>Tillage</ion-card-title></td>
      </tr>
    </table>
  </ion-card>

  <ion-card button="true" [routerLink]="['/irrigation-systems']">
    <table style="text-align: center">
      <tr>
        <td><ion-card-title>Irrigation Systems</ion-card-title></td>
        <td style="width: 60%; padding: 5%">
          <img
            alt="Silhouette of mountains"
            style="margin: 5%; height: 160px; width: 100%"
            src="assets/images (5).jpg"
          />
        </td>
      </tr>
    </table>
  </ion-card>

  <ion-card button="true" [routerLink]="['/sprayers']">
    <table style="text-align: center">
      <tr>
        <td style="width: 50%; padding: 5%">
          <img
            alt="Silhouette of mountains"
            style="
              margin: 5%;
              height: 160px;
              width: 100%;
              position: relative;
              left: 10%;
            "
            src="assets/71gWfs0OVmL._AC_UF1000,1000_QL80_.jpg"
          />
        </td>
        <td style="position: relative; left: 40%">
          <ion-card-title>Sprayers</ion-card-title>
        </td>
      </tr>
    </table>
  </ion-card>

  <ion-card button="true" [routerLink]="['/dryers']">
    <table style="text-align: center">
      <tr>
        <td><ion-card-title>Dryers</ion-card-title></td>
        <td style="width: 60%; padding: 5%">
          <img
            alt="Silhouette of mountains"
            style="margin: 5%; height: 160px; width: 100%"
            src="assets/images (7).jpg"
          />
        </td>
      </tr>
    </table>
  </ion-card>

  <ion-card button="true" [routerLink]="['/harvesting-equipments']">
    <table style="text-align: center">
      <tr>
        <td style="width: 60%; padding: 5%">
          <img
            alt="Silhouette of mountains"
            style="margin: 5%; height: 160px; width: 100%"
            src="assets/browns-world-sumo-batta-mini-harvestern.png"
          />
        </td>
        <td><ion-card-title>Harvesting Equipments</ion-card-title></td>
      </tr>
    </table>
  </ion-card>

  <ion-card button="true" [routerLink]="['/planting-equipments']">
    <table style="text-align: center">
      <tr>
        <td><ion-card-title>Planting Equipments</ion-card-title></td>
        <td style="width: 60%; padding: 5%">
          <img
            alt="Silhouette of mountains"
            style="margin: 5%; height: 160px; width: 100%"
            src="assets/walk-behind-transplanter.png"
          />
        </td>
      </tr>
    </table>
  </ion-card>

  <div style="margin-bottom: 5%">
    <ion-button
      [routerLink]="['/']"
      style="width: 35%; position: relative; top: 5%; left: 2%"
      color="medium"
      >Back</ion-button
    >
  </div>
</ion-content>
