<ion-header>
  <ion-toolbar color="success" style="display: flex">
    <ion-button style="position: relative; left: 5%" fill="clear">
      <ion-icon color="light" name="arrow-back"></ion-icon>
    </ion-button>

    <ion-title
      style="
        color: white;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        top: 4px;
        left: 5%;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
      "
    >
      PLANTING MATERIALS
    </ion-title>
    <ion-button style="position: relative; left: 5%" fill="clear">
      <ion-icon name="home" color="light"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card button="true" [routerLink]="['/seeds']">
    <table style="text-align: center">
      <tr>
        <td><ion-card-title>Seeds</ion-card-title></td>
        <td style="width: 60%; padding: 5%">
          <img
            alt="Silhouette of mountains"
            style="margin: 5%; height: 160px; width: 100%"
            src="assets/images.jpg"
          />
        </td>
      </tr>
    </table>
  </ion-card>

  <ion-card button="true" [routerLink]="['/seedlings']">
    <table style="text-align: center">
      <tr>
        <td style="width: 60%; padding: 5%">
          <img
            alt="Silhouette of mountains"
            style="margin: 5%; height: 160px; width: 100%"
            src="assets/what-are-the-plant-growth-regulators-plants-baconline.jpg"
          />
        </td>
        <td><ion-card-title>Seedlings</ion-card-title></td>
      </tr>
    </table>
  </ion-card>

  <ion-card button="true" [routerLink]="['/tubers']">
    <table style="text-align: center">
      <tr>
        <td><ion-card-title>Tubers</ion-card-title></td>
        <td style="width: 60%; padding: 5%">
          <img
            alt="Silhouette of mountains"
            style="margin: 5%; height: 160px; width: 100%"
            src="assets/images (2).jpg"
          />
        </td>
      </tr>
    </table>
  </ion-card>
  <div style="margin-bottom: 5%">
    <ion-button
      [routerLink]="['/']"
      style="width: 35%; position: relative; top: 5%; left: 2%"
      color="medium"
      >Back</ion-button
    >
  </div>
</ion-content>
